.App {
  text-align: center;
}

.healthBarOuter {
  border: black solid;
  padding: 2rem;
  width: 1rem;
  height: 1rem;
  background-color: black;
}

.fighters-container {
  /*border: red solid;*/

  display: flex;
  justify-content: center;
}

.player-container {
  /*border: yellow solid;*/
}
.opponent-container {
  /*border: blue solid;*/
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.play-again-button{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0.5rem 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:600;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
.play-again-button:active {
  top:0.1em;
}
